@if (Session["user_id_SS"] == null)
{
    if (ViewBag.Anime.premium == true || ViewBag.Episode.premium == true)
    {
        Response.Redirect("~/Accounts/Login?message=2");
    }

}

@if(ViewBag.Anime == null)
{
    Response.Redirect("~/Home/Index");
}


@{
    ViewBag.Title = "Play";

}
<h5 style="color:azure">Title: @ViewBag.Anime.title</h5>
<br />
<h6 style="color:azure">Episode: @ViewBag.Episode.episode_num</h6>
<br />

<div>
    @if (ViewBag.bmBtn == true)
    {
        if (ViewBag.isBm == true)
        {
            using (Html.BeginForm("RemoveBookmark", "Player", new { anime = ViewBag.Anime.anime_id, episode = ViewBag.currentEp }, FormMethod.Post))
            {
                <button class="btn btn-danger">X Remove Bookmark</button>
                <p> </p>
            }

        }
        else
        {
            using (Html.BeginForm("AddBookmark", "Player", new { anime = ViewBag.Anime.anime_id, episode = ViewBag.currentEp }, FormMethod.Post))
            {
                <button class="btn btn-success">+ Bookmark This Anime</button>
                <p> </p>
            }
        }
    }
</div>

<div>
    @if (ViewBag.rateBtn == true)
    {

        if (ViewBag.isRt == false)
        {
            <table>
                <tr>
                    @for (int i = 0; i < 5; i++)
                    {
                        <td>
                            @using (Html.BeginForm("AddRating", "Player", new { anime = ViewBag.Anime.anime_id, episode = ViewBag.currentEp, rate = (i + 1) }, FormMethod.Post))
                            {
                                <input class="btn btn-dark" type="submit" value="&#9734" style="font-size: 30px; color: coral" />
                            }
                        </td>
                    }


                </tr>
            </table>
        }
        else
        {
            <table>
                <tr>
                    @for (int i = 0; i < ViewBag.currentRating; i++)
                    {
                        <td>
                            @using (Html.BeginForm("UpdateRating", "Player", new { anime = ViewBag.Anime.anime_id, episode = ViewBag.currentEp, rate = (i + 1) }, FormMethod.Post))
                            {
                                <input class="btn btn-dark" type="submit" value="&#9733" style="font-size : 30px; color:coral" />
                            }
                        </td>
                    }
                    @for (int i = ViewBag.currentRating; i < 5; i++)
                    {
                        <td>
                            @using (Html.BeginForm("UpdateRating", "Player", new { anime = ViewBag.Anime.anime_id, episode = ViewBag.currentEp, rate = (i + 1) }, FormMethod.Post))
                            {
                                <input class="btn btn-dark" type="submit" value="&#9734" style="font-size: 30px; color: coral" />
                            }
                        </td>
                    }


                </tr>
            </table>
        }

    }
</div>

@{
    int noCol = 10;
    int ep = 1;
    //int currentEp = 1;
    int noRows = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(ViewBag.Anime.episodes) / Convert.ToDouble(noCol)));
}
<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">
                    <video id="player" playsinline controls data-poster="@ViewBag.Anime.poster">
                        <source src="~/@ViewBag.Episode.source_" type="video/mp4" />
                    </video>
                </div>



                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h5>Episodes </h5>
                    </div>
                </div>
            </div>



            <div>
                @for (int i = 0; i < noRows; i++)
                {
                    <div class="row">

                        @for (int j = 0; j < noCol; j++)
                        {
                            if (ep > ViewBag.Anime.episodes)
                            {
                                break;
                            }
                            <div class="col-sm-1">
                                @if (ep == ViewBag.Episode.episode_num)
                                {
                                    <button class="btn btn-warning">Episode @ep</button>
                                    <p> </p>
                                }
                                else
                                {
                                    using (Html.BeginForm("Play", "Player", new { anime = ViewBag.Anime.anime_id, episode = ep }, FormMethod.Post))
                                    {
                                        <button class="btn btn-dark">Episode @ep</button>
                                        <p> </p>
                                    }
                                }


                                @{ep++;}
                            </div>
                        }
                        <br><br>
                    </div>
                }
            </div>





        </div>
    </div>
</section>
<!-- Anime Section End -->
